* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --DARKBLUE: #28536b;
  --ROSYBROWN: #C2948A;
  --LIGHTBLUE: #7EA8BE;
  --OFFWHITE: #F6F0ED;
  --KHAKI: #BBB193; 
  --BLACK: #262626;
  --WHITE: #FCFCFC;
}

.body {
  height: 100%;
  width: 100%;
  background-color: var(--WHITE);
}

main {
  height: 100%;
  width: 90%;

  background-color: var(--LIGHTBLUE);
}


/*TAILS8*/ 

.offscreen {
  position: absolute;
  left: -9999px
}

.errMsg {
  background-color: var(--OFFWHITE);
  color: red;
}